body {
    font-family: 'Open Sans', sans-serif;
	background-image: url("../images/foto-gear-monnick.jpg");
}

.navbar {
    text-align: center;
}


.navbar p {
    display: inline;
    padding: 5px;
    top: 15px;
    margin-right: 15px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    position: relative;
    font-weight: 600;
}
